<% include header %>

<h2 class="font-weight-bold feedbackTitle"> Senden Sie uns Ihr Feedback</h2>
<!--  Entscheidend ist der Gästebuchform die Mehode "post". Der Button senden führt einen Submit durch
      und sendet die Daten an den Server ("server.js"), wo die Daten in einem Array durch push-Funktion
      gespeichert werden. Die zuerst implementierte Modalform des Gästebucheintrags wurde wieder entfernt,
      da dies zu Problemen geführt hat. Insbesondere kann durch den link auf den http://localhost:3000/neu das
      Gästebuch in Modalform nicht mehr dargestellt werden. -->
<form method="post" role="form">
    <div class="form-group" id="feedbackModal">
        <input type="text" class="form-control" id="title" name="title" required>
        <label for="title">Betreff</label>
    </div>

      <div class="form-group">
        <input type="text" class="form-control" id="feedbackName" name="anrede" required>
        <label for="feedbackName">Ihr Name</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="feedbackMail" name="mail" required>
        <label for="feedbackMail">Ihre Email</label>
      </div>

    <div class="form-group">
        <textarea class="form-control" id="feedbackNachricht" name="feedbackNachricht" placeholder="Hinterlassen Sie Ihre Nachricht." rows="3" required></textarea>
        <label for="feedbackNachricht">Ihre Nachricht</label>
        
    </div>
    <div class="form-group">
        <input type="submit" value="Senden" class="btn btn-primary">
    </div>
</form>
<script>
  /*JQuery-Funktionen, die die Label im Feedback-Formular ändern, wenn
  diese den Fokus erhalten bzw. verlieren (von normal -> rot und antik).
  Bei Fokuserhalt wird eine css-Klasse "Titelüberschrift2" hinzugefügt und
  umgekehrt wieder entfernt.
  JQuery in Bootstrap-Modalfenstern ist aber etwas anders aufgebaut. So ist
  das Event/Ereignis 'shown.bs.modal' Bootsrap spezifisch vgl.
  https://www.w3schools.com/bootstrap/bootstrap_ref_js_modal.asp */
  $(document).ready(function(){
    if($("#feedbackModal").is(":visible")){
      $("input").on("focusin", function() {
        $(this).siblings("label").addClass("titelUeberschrift2");
                                          });
      $("input").on("focusout", function() {
        $(this).siblings("label").removeClass("titelUeberschrift2");
                                          })
      $("#feedbackNachricht").on("focusin", function() {
        $(this).siblings("label").addClass("titelUeberschrift2");
                                                      });
      $("#feedbackNachricht").on("focusout", function() {
        $(this).siblings("label").removeClass("titelUeberschrift2");
                                                        });
                                          }});

          
</script>
<% include footer %>