  .jumbotron{
      margin-bottom:0;
    }


  li {
  border-right: 1px solid #bbb;
}

li a:hover{
  background-color: #D8D8D8;
}

#text1 {
	background-color:#B8F5FD;
}
#text2 {
	background-color:#80807E;
}
#text3 {
	background-color:#F7F9BE;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 30px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Schriftarten */
@font-face {
  font-family: "Spirax-Regular";
  src:  url("./fonts/Spirax-Regular.woff") format("woff"), /* Modern Browsers */
        url("./fonts/Spirax-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vivaldi W01 V2";
  src: url("./fonts/vivaldi.woff2") format("woff2"), /* chrome、firefox */
       url("./fonts/vivaldi.woff") format("woff"); /* chrome、firefox */
  font-weight: normal;
  font-style: normal;
}
.feedbackTitle {
  font-family: 'Spirax-Regular';
  font-size: 30px;
  /*border: 1px solid #ddd;*/
  display: inline-block;
  padding-top: 10px;
}
.titelUeberschrift {
  font-family:"Vivaldi W01 V2";
    font-size:100px;
    color:white;
    text-shadow: 2px 2px 4px #424242;
    text-align:center;
  }

  .titelUeberschrift2 {
    font-family:"Vivaldi W01 V2";
      font-size:30px;
      color:red;
      text-shadow: 2px 2px 4px #424242;
    }
.mySlides {display:none;}

#bla {
  opacity: 0.5;
}

#bla:hover {
  opacity: 1.0;
}

#impressumModal{
    overflow-y: initial !important
}

#impressum-body{
    height: 250px;
    overflow-y: auto;
}

/*footer Kontakte*/
#fuss {
  background: #FCE6F2;
  padding: 10px 0;
}
#fuss a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
#fuss a:first-child {
  border-left: 1px solid #70726F;
}
#fuss a:hover {
  color: rgb(226, 32, 226);
}

/*mit folgenden css-Anweisungen wechselt die Farbe in der Titel-div
Quelle: https://1stwebdesigner.com/15-css-background-effects */

.jumbotron {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scrollClass {
  height:180px;
  overflow-y: scroll;
}
